<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723208431815-c3lnskbutd24cmntss2gjdqe1p0224oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723208431815-c3lnskbutd24cmntss2gjdqe1p0224oq</string>
	<key>API_KEY</key>
	<string>AIzaSyDqs4qCc3HDvK-Bf8fUxk-xa8YZmLkH2jw</string>
	<key>GCM_SENDER_ID</key>
	<string>723208431815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jethro.RayChat</string>
	<key>PROJECT_ID</key>
	<string>raychat-690a4</string>
	<key>STORAGE_BUCKET</key>
	<string>raychat-690a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723208431815:ios:b755923e7f6d81af35b6e2</string>
</dict>
</plist>